* {
    margin: 0;
    padding: 0;
}


#container {
    height: 600px;
    width: 600px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black;
    background-color: rgb(47, 165, 163);
    display: grid;
    grid-template-columns: 80px 100px;
    grid-template-rows: 50px 100px;
}

.box {
    height: 75px;
    width: 75px;
    border: 3px solid black;
    margin: 5px;

}


#box1{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: blue;}
#box2{grid-row: 1/2;
    grid-column: 2/2;
background-color: brown;}
#box3{grid-row: 2/2;
    grid-column: 1/2;
    background-color: cornflowerblue;}
#box4{grid-row: 2/2;
    grid-column: 2/2;
    
    background-color: lawngreen;
}